
<h1>Articles</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><b><%= article.title %></b></td>
      <td><%= article.text %></td>
      
      <td><b><%= link_to 'Show', article_path(article) %></b></td>
      <td><b><%= link_to 'Edit', edit_article_path(article) %></b></td>
      <td><b><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></b></td>


    </tr>
  <% end %>
</table>
<%= link_to 'New article', new_article_path %>


